body {
    background-color: #ffdaa2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;
}
h1 {
    color:#ff7b00;
    cursor:default;
    font-size: 37px;
}
p{
    color:#000000;
    font-size: 22px;
    cursor:default;
}
button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffbb00;
    color:black;
    border:2px solid #ffae00;
    padding: 10px 50px;
    cursor: pointer;
}